:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --tex-color-secondary: #acacac;
  --hover-color: #525252;
  --bg-gradient: radial-gradient(
    circle,
    #000000,
    #0c0c0c,
    #151515,
    #1c1c1c,
    #232323,
    #252525,
    #282828,
    #2a2a2a,
    #292929,
    #272727,
    #262626,
    #252525
  );
}

.light-theme {
  --bg-color: #ffffff;
  --text-color: #000000;
  --tex-color-secondary: #555555;
  --hover-color: #d6d6d6;
  --bg-gradient: radial-gradient(
    circle,
    #ffffff,
    #fcfcfc,
    #f8f8f8,
    #f5f5f5,
    #f2f2f2,
    #f1f1f1,
    #f0f0f0,
    #efefef,
    #f0f0f0,
    #f1f1f1,
    #f1f1f1,
    #f2f2f2
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a:hover,
button:hover {
  color: var(--hover-color);
}

/* Theme Toggle Switch */
.toggle-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 9;
}

.toggle-track {
  width: 50px;
  height: 32px;
  background: #333;
  background-color: var(--bg-color);
  border-radius: 16px;
  border: 3px solid var(--text-color);
  position: relative;
  transition: background 0.3s;
  align-items: center;
}

.toggle-button {
  width: 29px;
  height: 29px;
  background: var(--text-color);
  border-radius: 50%;
  position: absolute;
  top: -1px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  transition: transform 0.3s;
}

.toggle-dark-icon {
  font-size: 18px;
  color: var(--bg-color);
}

.toggle-light-icon {
  font-size: 18px;
  color: var(--bg-color);
}

/* Components */

/* 1. Copy Right */
.ag-copy-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: var(--font-montserrat), sans-serif;
  height: 25px;
  background-color: var(--bg-color);
}

.ag-copy-right p {
  font-size: 12px;
  color: var(--tex-color-secondary);
}

@media screen and (max-width: 768px) {
  .ag-copy-right {
    flex-direction: column;
    align-items: start;
    font-family: var(--font-montserrat), sans-serif;
    height: 45px;
    padding-left: 5px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* NAVBAR */

/* Navbar Styles */
nav {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  background: transparent;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  font-family: var(--font-montserrat);
}
.ag-navbar-div {
  width: 100%;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  height: 100%;
  background-image: var(--bg-gradient);
  padding: 0 50px;
  border-radius: 5px;
}

.ag-logo {
  font-size: 20px;
  font-weight: bold;
}

.ag-nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.ag-nav-links li {
  display: inline-block;
}

.ag-nav-links button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  font-family: var(--font-montserrat);
}

.ag-nav-links button:hover,
.ag-nav-links .active {
  color: #ff8800;
}

.ag-nav-contact button {
  outline: none;
  width: 100px;
  height: 30px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  border: 2px solid var(--text-color);
}

/* Mobile Drawer */

@media screen and (min-width: 768px) {
  .ag-nav-hamburger {
    display: none;
  }
  .ag-mobile-navbar {
    display: none;
  }
}

.ag-mobile-navbar {
  position: fixed;
  top: 120px;
  left: 0;
  background: var(--bg-gradient);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  z-index: 99;
  transform: translateX(100%);
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  gap: 20vh;
}
.nav-icon {
  font-size: 24px;
}

.ag-mobile-navbar.mobileDrawerOpen {
  transform: translateX(0%);
}

@media screen and (max-width: 769px) {
  .ag-nav-links {
    display: none;
  }
  .ag-nav-contact {
    display: none;
  }
}

.ag-mobile-nav-links {
  width: 100%;
}

.ag-mobile-nav-links li {
  list-style: none;
  height: 100px;
  margin-bottom: 5px;
}

.ag-mobile-nav-links li button {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-montserrat);
  font-size: 32px;
  outline: none;
  border: none;
  border-radius: 0px 0px 10px 10px;
}

.nav-link-icon {
  color: var(--text-color);
  font-size: 22px;
}

.ag-mobile-nav-contact button {
  outline: none;
  width: 100px;
  height: 30px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  border: 2px solid var(--text-color);
}

.section {
  min-height: 20vh;
}

/* About Section */

.ag-about-container {
  display: flex;
  align-items: center;
  min-height: 85vh;
  margin-top: 120px;
  overflow: hidden;
}

.ag-about-text {
  overflow: hidden;
  flex-direction: column;
  width: 50%;
}

.ag-about-text h1 {
  font-family: var(--font-poppins);
  font-size: 10rem;
}

.ag-about-text-1 {
  color: var(--text-color);
}

.ag-about-text-2 {
  color: var(--tex-color-secondary);
}

.ag-about-text-3 {
  color: var(--text-color);
}

.ag-about-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ag-about-info-img {
  height: 45%;
  width: 90%;
  margin-top: 2%;
  border-radius: 300px 100px 10px 10px;
  overflow: hidden;
}

.ag-about-info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ag-about-info-text {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ag-about-info-text p {
  font-family: var(--font-poppins);
  letter-spacing: 1px;
  font-size: 18px;
}

@media screen and (max-width: 1025px) {
  .ag-about-container {
    flex-direction: column;
  }

  .ag-about-text h1 {
    font-size: clamp(16px, 2.5vw, 32px);
    font-size: 25vw;
  }

  .ag-about-text {
    width: 100%;
  }

  .ag-about-info {
    width: 100%;
    padding: 0 2%;
  }
  .ag-about-info-img {
    width: 100%;
    margin-bottom: 20px;
  }
}



/* Services */

.ag-service-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 80px;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 120px;
  height: 100%;
  padding: 0 20px; 
}

.ag-service {
  width: 100%;
  height: 300px;
}

.service-icon {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  
  .ag-service-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .ag-service {
    width: 100%;
    height: auto
  }
}
