:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --hover-color: #bababa;
}

.light-theme {
  --bg-color: #ffffff;
  --text-color: #000000;
  --hover-color: #4b4b4b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a:hover,
button:hover {
  color: var(--hover-color);
}



/* Theme Toggle Switch */
.toggle-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 10px;
}

.toggle-track {
  width: 50px;
  height: 32px;
  background: #333;
  background-color: var(--bg-color);
  border-radius: 16px;
  border: 3px solid var(--text-color);
  position: relative;
  transition: background 0.3s;
  align-items: center;
}

.toggle-button {
  width: 28px;
  height: 26px;
  background: var(--text-color);
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  transition: transform 0.3s;
}

.toggle-dark-icon{
  font-size: 18px;
  color: var(--bg-color);
}

.toggle-light-icon{
  font-size: 18px;
  color: var(--bg-color);
}

/* Components */

/* 1. Copy Right */
.ag-copy-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: var(--font-montserrat), sans-serif;
  height: 25px;
}

.ag-copy-right p {
  font-size: 12px;
  color: var(--hover-color);
}

@media screen and (max-width: 768px) {
  .ag-copy-right {
    flex-direction: column;
    align-items: start;
    font-family: var(--font-montserrat), sans-serif;
    height: 45px;
    padding-left: 5px;
  }
}