:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --hover-color: #d3d3d3;
}

.light-theme {
  --bg-color: #ffffff;
  --text-color: #000000;
  --hover-color: #555555;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a:hover,
button:hover {
  color: var(--hover-color);
}